.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  min-height: 100vh;
}

.home-header {
  max-width: 600px;
  padding: 20px;
}

.home-header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-header p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

.home-button {
  background-color: #ff0000a6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #ee4040e5;
}

#cards {
  display: flex;
}
