* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  color: #fff;
}

/* First paragraph styling */
div > p:first-of-type {
  background-color: yellow;
  color: red;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Other paragraphs styling */
div > p:not(:first-of-type) {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
