* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
}

.container {
  background-color: palegreen;
  margin: 14px;
  padding: 14px;
  border: 2px solid red;
}

.child-container {
  background-color: green;
  margin: 14px;
  padding: 14px;
  border: 2px solid gold;
}

.child {
  font-size: 22px;
  background-color: #331d32;
  color: #fff;
  border: 2px solid #ffffff;
  padding: 34px;
  margin: 34px;
  cursor: pointer;
}
