* {
  margin: 0;
  padding: 0;
}

.box {
  background-color: rgb(50, 8, 50);
}

.box1 {
  color: peru;
  padding: 10px;
  margin: 25px;
  border: 2px solid green;
  height: 200px;
  box-sizing: border-box;
}

.box2 {
  color: blueviolet;
  padding: 10px;
  margin: 25px;
  border: 2px solid magenta;
  height: 200px;
  box-sizing: border-box;
}
