.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 15px;
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.footer a:hover {
  color: #0192a7;
  text-decoration: underline;
}
